.post-25769 {
  .block-title {
    margin-bottom: 2em;
  }
  .wp-block-image {
    margin: 0;
  }
  p,
  .entry-content p {
    margin-bottom: 8px;
  }

  .honor-block-1 {
    .wp-block-media-text {
      height: 224px;
    }
  }

  .contact-us-block {
    .wp-block-column {
      padding: 24px;
    }
  }
  .contact-group {
    img {
      position: relative;
      left: -12px;
    }
    dd {
      margin: 0 1.5em 0 1.5em;
      font-size: 14px;
    }
  }
}
