/**
全局样式
**/
body,
h1,
h2,
h3,
h4,
h5,
.entry-content h1,
h2,
h3,
h4,
h5 {
  font-family: "PingFang SC", "Microsoft YaHei", "Times New Roman", "Arial",
    Times, serif !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

/**
媒体查询，wordpress中用group来表示一个块，针对它的子类去调整盒子大小，这样就可以对它进行一些样式设置
**/
@media (min-width: 544px) {
  .wp-block-group__inner-container {
    max-width: 100% !important;
  }
}
@media (min-width: 922px) {
  .wp-block-group__inner-container {
    max-width: 1240px !important;
  }
}

// /* 页面样式，高度设置为1屏 */
// .hfeed.site {
//   height: 100vh;
// }

/* header 样式*/
.site-header {
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 24px #888;
  .site-primary-header-wrap {
    width: 80%;
  }
}

/* footer 样式*/
.site-above-footer-wrap {
  padding-bottom: 0;
}
.site-footer {
  margin: 0 auto;
  .ast-builder-footer-grid-columns {
    display: flex;
    justify-content: center;
  }
  .site-footer-above-section-1 {
    width: 60%;
  }
  .footer-follow-widget {
    position: relative;
    top: -1em;
    h4 {
      margin-bottom: 1em;
      color: #fff;
    }
    .wp-block-media-text {
      margin: 18px 0;
      color: #ddd;
    }
    img {
      border: 4px solid var(--ast-global-color-4);
    }
  }
}

.footer-item {
  dt {
    font-weight: normal;
    margin-bottom: 1.8em;
    font-size: 16px;
    color: #fff;
  }
  dd {
    font-size: 12px;
    margin: 8px 0;
  }
  a {
    color: #ddd !important;
    &:hover {
      color: var(--ast-global-color-0) !important;
    }
  }
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
  margin: 0 auto;
  padding: 0;
  background: #494949;
  .ast-builder-grid-row-container-inner {
    width: 72%;
    margin: 0 auto;
    border-top: 1px solid #6e6e6e;
    padding: 16px 0 0;
    color: #ddd;
    a,
    a:hover {
      color: #ddd;
    }
  }
  &.ast-footer-row-inline .site-footer-section {
    flex-basis: 68%;
    margin-left: 8%;
  }
}

.site-content {
  padding-top: 80px;
}

/**
锚点类，解决 header fixed 之后，锚点被遮挡
在需要锚点的地方前面插入一个 anchor-block 块即可
**/
.anchor-block {
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}
